body {
    width: 99%;
    height: auto;
    background-color: black;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 86%, rgba(0,11,13,1) 91%, rgba(0,24,29,1) 99%, rgba(0,50,60,1) 100%) no-repeat, black;
}

#appsButton {
    margin: 5px;
    border-radius: 5px;
    border: 0px;
    height: 40px;
    width: 40px;
    margin: 10px;
}

#searchInput {
    display: block;
    border: 0px;
    padding: 1em 1em 1em 1em;
    margin: auto;
    text-align: center;
    margin-top: 2.0em;
    display: block;
    width: 90%;
    height: 30px;
    border-radius: 30px;
}


#searchPage {
    height: max-content;
    display: block;
    padding: 100px;
    margin: auto;
    text-align: center;
    margin-top: 2.0em;
    display: block;
    width: 600px;
    height: 30px;
    border-radius: 30px;
}

img {
    width: 500px;
    height: 80px;
    pointer-events: none;
}
